RewriteEngine on

#RewriteRule ^index\.html$ / [R=301,L]

#Redirect 301 /system.html https://aircloak.com
#Redirect 301 /transparency.html https://aircloak.com
#Redirect 301 /team.html https://aircloak.com/about-us.html
#Redirect 301 /downloads/white-paper-1.1.pdf https://aircloak.com/downloads/aircloak-white-paper.pdf

ErrorDocument 404 /404.html